<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/hr.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 style="font-family: 'Poppins'">Questionario</h2> <br />
        <h3 style="font-family: 'Poppins'">Total de Perguntas:  <span th:text="${quantidadeQuestoes}"></span></h3>

        <br />

        <div th:each="q : ${questao}" class="bg-light">
            <hr />
            <strong><p th:text="${q.questao}" style="font-family: 'Poppins'"></p></strong>
            <div th:each="a : ${q.alternativas}" class="form-check mb-2">
                <input class="form-check-input" type="radio" name="exampleForm" />
                <label class="form-check-label" th:text="${a.titulo}"></label>
            </div>
        </div>

        <br />

        <button class="btn btn-outline-primary">Enviar Respostas</button>
        <button class="btn btn-outline-danger">Voltar</button>
    </div>
</body>
</html>